<div class="sidebar-item profile">
    <div class="sidebar-title">Pofile</div>
    <div class="sidebar-content">
        <img src="https://i.gyazo.com/458e004e1ac13d705e794806aa9bd4e9.png" alt="Profile Image" width="120"
            height="120">
        <div class="profile-desc">
            <div class="author">のん</div>
            <div class="bio">
                <p>積立NISAを一年ほどやり、スイングに手を出し始めました。お小遣い程度の運用。徐々に種銭を増やしていきたいです。</p>
                <p>好きなゲームはWarframe。推しフレームはValkyrとOctaviaとWisp。</p>
            </div>
        </div>
    </div>
</div>