<div class="sidebar-item profile">
    <div class="sidebar-title">Pofile</div>
    <div class="sidebar-content">
        <img src="https://i.gyazo.com/458e004e1ac13d705e794806aa9bd4e9.png" alt="Profile Image" width="120"
            height="120">
        <div class="profile-desc">
            <div class="author">のん</div>
            <div class="bio">
                <p>会社員が隙間時間でスイングトレード♪マケスピ2とiSPEEDを利用しています。おこづかい程度の運用。双極性障害Ⅱ型で闘病中です。</p>
                <p>好きなゲームはWarframe。推しフレームはValkyrとOctaviaとWisp。</p>
            </div>
        </div>
    </div>
</div>