<div class="blogmura-renkei">

    <p class="blogmura-renkei-message">応援ポチおねがいいたします！</p>

    <ul class="blogmura-renkei-banners horizontal">

        <li>
            <a target="_blank" href="https://blogmura.com/ranking/in?p_cid=11208693">
                <img class="blogmura-renkei-banner" width="88" height="31" border="0" alt="{blogmuraBannerAltText}"
                    src="https://b.blogmura.com/88_31.gif">
            </a>
        </li>

        <li>
            <a target="_blank" href="https://stock.blogmura.com/ranking/in?p_cid=11208693">
                <img class="blogmura-renkei-banner" width="88" height="31" border="0" alt="{blogmuraBannerAltText}"
                    src="https://b.blogmura.com/stock/88_31.gif">
            </a>
        </li>

        <li>
            <a target="_blank" href="https://stock.blogmura.com/stockdiary/ranking/in?p_cid=11208693">
                <img class="blogmura-renkei-banner" width="88" height="31" border="0" alt="{blogmuraBannerAltText}"
                    src="https://b.blogmura.com/stock/stockdiary/88_31.gif">
            </a>
        </li>

    </ul>

    <ul class="blogmura-renkei-banners horizontal">
        <li>
            <a href="https://blogmura.com/profiles/11208693?p_cid=11208693">
                <img class="blogmura-renkei-banner"
                    src="https://blogparts.blogmura.com/parts_image/user/pv11208693.gif">
            </a>
        </li>
    </ul>

</div>